In [1]:
import os
import pandas as pd
import numpy as np
os.chdir('/home/brian/Documents/CPS/data/clean/')

In [28]:
agr = [1, 2]
cons = [4, 47]
mm = [5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 3]
ttu = [21, 23, 24]
rec = [22, 45, 46]
fire = [32, 33, 34, 35]
edh = [40, 41, 42, 43, 51]
inf = [25, 26, 27, 28, 29, 30, 31]
mgt = [36, 37, 38]

groups = (lambda x: pd.Categorical(
    np.where(((x.LFS == 'Unemployed') | (x.NILFREASON == 'Discouraged')), 
             'Unemployed',
    np.where(((x.NILFREASON == 'Retired') | ((x.AGE >= 65) & (x.LFS == 'NILF'))), 
             'Retiree',
    np.where(((x.NILFREASON == 'School') | (x.AGE < 18)), 
             'Students/Children',
    np.where(x.NILFREASON == 'Family', 'Caregiver',
    np.where(x.LFS == 'NILF', 'Other NILF',
    np.where(x.INDD.isin(agr), 'Farming/Fishing/Livestock',
    np.where(x.INDD.isin(cons), 'Construction, Repair, and Maintenance',
    np.where(x.INDD.isin(mm), 'Manufacturing and Mining',
    np.where(x.INDD.isin(ttu), 'Wholesale trade, transportation, warehousing, and utilities',
    np.where(x.INDD.isin(rec), 'Retail trade, food and dining, hospitality, and recreation',
    np.where(x.INDD.isin(fire), 'Finance, insurance, real estate',
    np.where(x.INDD.isin(inf), 'Publishing/Broadcasting/Internet/Information',
    np.where(x.INDD.isin(edh), 'Education/Health Care/Social and Public Services',
    np.where(x.INDD.isin(mgt), 'Business, Professional, and Technical Services', 'Other'))))))))))))))))

o64 = lambda x: pd.Categorical(np.where(x.AGE >= 65, 1, 0))

In [29]:
columns = ['YEAR', 'MONTH', 'AGE', 'LFS', 'NILFREASON', 'PTECON', 'INDD', 
           'CBSA', 'STATE', 'GTCBSASZ', 'FEMALE', 'WBHAO', 'FORBORN', 
           'BASICWGT', 'PWSSWGT']

data = pd.concat([(pd.read_feather(f'cps{year}.ft', columns=columns)
              .assign(GROUPS = groups, O64 = o64)) 
           for year in range(2016, 2021)])

In [30]:
date_range1 = ((data.YEAR == 2017) | 
               ((data.YEAR == 2016) & (data.MONTH >= 3)) | 
               ((data.YEAR == 2018) & (data.MONTH <= 2)))

date_range2 = ((data.YEAR == 2019) | 
               ((data.YEAR == 2018) & (data.MONTH >= 3)) | 
               ((data.YEAR == 2020) & (data.MONTH <= 2)))

In [32]:
d = {}
for name, date_range in [('previous', date_range1), ('recent', date_range2)]:
    df = data.loc[date_range & (data.CBSA == 41540)]
    d[name] = (df.groupby('O64').PWSSWGT.sum() / df.PWSSWGT.sum()) * 100

In [33]:
d

{'previous': O64
 0    76.985939
 1    23.014059
 Name: PWSSWGT, dtype: float32,
 'recent': O64
 0    73.553940
 1    26.446045
 Name: PWSSWGT, dtype: float32}

In [39]:
df.groupby(['FEMALE', 'AGE']).PWSSWGT.sum()

FEMALE  AGE
0       0       34480.578125
        1       33058.855469
        2       27902.986328
        3       53162.328125
        4       35496.316406
                   ...
1       76      43568.101562
        77      71281.828125
        78      62883.390625
        79      33151.265625
        80     432487.937500
Name: PWSSWGT, Length: 162, dtype: float32

In [40]:
df.AGE

145392     28
145393     24
145394     25
145395     69
145396     66
           ..
1093997    66
1094000    75
1094001    53
1094013    62
1094014    66
Name: AGE, Length: 9473, dtype: int8

In [ ]:
ref_pd = (2001, 3)
ref_dt = to_date(ref_pd)
ages = '18 <= AGE <= 64'
wgt = 'BASICWGT'
cat = 'NILFREASON'
dates = ['YEAR', 'MONTH']
dems = ['FEMALE', 'AGE']
cols = dates + dems + [wgt, cat]
files = [f'cps{year}.ft' for year in years]

# CPS Data
df = pd.concat([pd.read_feather(file, columns=cols)
                  .query(ages) for file in files])

p = df.groupby(dates + dems)[wgt].sum().rename('ADJ')
sh = (p / p.groupby(dates).sum())
adj = (sh.loc[ref_pd] / sh).reset_index()
data = (pd.merge(df, adj)
          .assign(ADJWGT = lambda x: x.ADJ * x[wgt]))
data.NILFREASON.cat.rename_categories({'nan': 'LF'}, 
                                      inplace=True)

In [ ]:
salisbury = ('Salisbury MSA', 'CBSA == 41540')
demdva = ('All DE, MD, VA', 'STATE in ["DE", "MD", "VA"]')
midsz = ('All MSAs 250,000 to 499,999', 'GTCBSASZ == 3')
total = ('US Total', 'PWSSWGT > 0')

groups = (lambda x: pd.Categorical(
    np.where(((x.LFS == 'Unemployed') | (x.NILFREASON == 'Discouraged') | (x.PTECON == 1)), 
             'Unemployed',
    np.where(x.LFS == 'Employed', 'Employed', 'NILF'))))

o64 = lambda x: pd.Categorical(np.where(x.AGE >= 65, 1, 0))


columns = ['YEAR', 'MONTH', 'AGE', 'LFS', 'NILFREASON', 'PTECON', 'INDD', 
           'CBSA', 'STATE', 'GTCBSASZ', 'FEMALE', 'WBHAO', 'FORBORN', 
           'BASICWGT', 'PWSSWGT']


data = pd.concat([(pd.read_feather(f'cps{year}.ft', columns=columns)
              .assign(GROUPS = groups, O64 = o64)) 
           for year in range(2016, 2021)])

#for area in [salisbury, demdva, midsz, total]:

In [ ]:
d = pd.DataFrame()
for name, area in [salisbury, demdva, midsz, total]:
    df = data.query(area)
    d[name] = df.groupby(['YEAR', 'MONTH']).PWSSWGT.sum()

In [ ]:
d

In [ ]:
d.index = pd.to_datetime([f'{year}-{month}-01' for year, month in d.index])

In [ ]:
final = res.dropna()

In [ ]:
d

In [ ]:
d['Salisbury MSA'].plot()

In [ ]:
res.loc[:, ('Salisbury MSA', 1)].loc['2015':].dropna().resample('Y').mean()

In [ ]:
data.query(salisbury[1]).groupby(['YEAR', 'MONTH', 'STATE']).PWSSWGT.sum().unstack().loc[:, ['MD', 'DE']].plot()

In [35]:
df

,YEAR,MONTH,AGE,LFS,NILFREASON,PTECON,INDD,CBSA,STATE,GTCBSASZ,FEMALE,WBHAO,FORBORN,BASICWGT,PWSSWGT,GROUPS,O64
145392,2018,12,28,Employed,nan,0,40,41540,DE,3,0,White,0,543.630310,547.210327,Education/Health Care/Social and Public Services,0
145393,2018,12,24,Employed,nan,0,40,41540,DE,3,0,White,0,602.832703,604.745605,Education/Health Care/Social and Public Services,0
145394,2018,12,25,Employed,nan,0,40,41540,DE,3,0,White,0,543.630310,547.210327,Education/Health Care/Social and Public Services,0
145395,2018,12,69,NILF,Retired,NaN,-1,41540,DE,3,1,White,0,648.573975,645.837097,Retiree,1
145396,2018,12,66,NILF,Retired,NaN,-1,41540,DE,3,0,White,0,570.584106,567.849976,Retiree,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1093997,2020,2,66,NILF,Retired,NaN,-1,41540,MD,3,1,White,0,3478.972900,3628.106445,Retiree,1
1094000,2020,2,75,NILF,Retired,NaN,-1,41540,MD,3,1,White,0,3579.145508,3732.573486,Retiree,1
1094001,2020,2,53,NILF,Disabled/Ill,NaN,-1,41540,MD,3,0,White,0,3903.038086,3727.535156,Other NILF,0
1094013,2020,2,62,Employed,nan,0,42,41540,MD,3,1,Black,0,4139.242188,4073.992920,Education/Health Care/Social and Public Services,0
1094014,2020,2,66,NILF,Retired,NaN,-1,41540,MD,3,1,Black,0,3751.460449,3893.010010,Retiree,1

In [ ]:
pd.to_datetime([f'{year}-{month}-01' for year, month in res.index])

In [ ]:
[f'{year}-{month}-01' for year, month in res.index]

In [ ]:
pd.concat([(pd.read_feather(f'cps{year}.ft', columns=columns)
              .assign(GROUPS = groups)) 
           for year in range(2004, 2021)])

In [ ]:
groups = (lambda x: pd.Categorical(
    np.where(((x.LFS == 'Unemployed') | (x.NILFREASON == 'Discouraged') | (x.PTECON == 1)), 
             'Unemployed',
    np.where(x.LFS == 'Employed', 'Employed', 'NILF'))))

In [ ]:
GTCBSASZ

In [ ]:
df = pd.read_feather('cps2020.ft').query('CBSA == 41540 and MONTH in [9, 10, 11]')
(df.groupby('COW1').PWSSWGT.sum() / df.PWSSWGT.sum()) * 100

In [ ]:
df = pd.read_feather('cps2019.ft').query('CBSA == 41540 and MONTH in [9, 10, 11]')
(df.groupby('COW1').PWSSWGT.sum() / df.PWSSWGT.sum()) * 100

In [ ]:
df = pd.read_feather('cps2020.ft').query('CBSA == 41540 and MONTH  not in [1, 2, 3, 12]')
res20 = (df.groupby('INDD').PWSSWGT.sum() / df.PWSSWGT.sum()) * 100
df = pd.read_feather('cps2019.ft').query('CBSA == 41540 and MONTH not in [1, 2, 3, 12]')
res19 = (df.groupby('INDD').PWSSWGT.sum() / df.PWSSWGT.sum()) * 100
df = pd.read_feather('cps2018.ft').query('CBSA == 41540 and MONTH not in [1, 2, 3, 12]')
res18 = (df.groupby('INDD').PWSSWGT.sum() / df.PWSSWGT.sum()) * 100

In [ ]:
res19 - res18

In [ ]:
agr = [1, 2]
cons = [4, 47]
mm = [5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 3]
ttu = [21, 23, 24]
rec = [22, 45, 46]
fire = [32, 33, 34, 35]
edh = [40, 41, 42, 43, 51]
inf = [25, 26, 27, 28, 29, 30, 31]
mgt = [36, 37, 38]

In [ ]:
groups = (lambda x: pd.Categorical(
    np.where(((x.LFS == 'Unemployed') | (x.NILFREASON == 'Discouraged')), 
             'Unemployed',
    np.where(((x.NILFREASON == 'Retired') | ((x.AGE >= 65) & (x.LFS == 'NILF'))), 
             'Retiree',
    np.where(((x.NILFREASON == 'School') | (x.AGE < 18)), 
             'Students/Children',
    np.where(x.NILFREASON == 'Family', 'Caregiver',
    np.where(x.LFS == 'NILF', 'Other NILF',
    np.where(x.INDD.isin(agr), 'Farming/Fishing/Livestock',
    np.where(x.INDD.isin(cons), 'Construction, Repair, and Maintenance',
    np.where(x.INDD.isin(mm), 'Manufacturing and Mining',
    np.where(x.INDD.isin(ttu), 'Wholesale trade, transportation, warehousing, and utilities',
    np.where(x.INDD.isin(rec), 'Retail trade, food and dining, hospitality, and recreation',
    np.where(x.INDD.isin(fire), 'Finance, insurance, real estate',
    np.where(x.INDD.isin(inf), 'Publishing/Broadcasting/Internet/Information',
    np.where(x.INDD.isin(edh), 'Education/Health Care/Social and Public Services',
    np.where(x.INDD.isin(mgt), 'Business, Professional, and Technical Services', 'Other'))))))))))))))))

In [ ]:
df = (pd.read_feather('cps2020.ft')
        .query('CBSA == 41540 and MONTH in [6, 7, 8, 9, 10, 11] and AGE >= 18 and AGE <= 64 and LFS == "Employed"')
        .assign(GROUPS = groups))

d20 = (df.groupby('IND').PWSSWGT.sum() / df.PWSSWGT.sum()) * 100

df = (pd.read_feather('cps2019.ft')
        .query('CBSA == 41540 and MONTH in [6, 7, 8, 9, 10, 11] and AGE >= 18 and AGE <= 64 and LFS == "Employed"')
        .assign(GROUPS = groups))

d19 = (df.groupby('IND').PWSSWGT.sum() / df.PWSSWGT.sum()) * 100

In [ ]:
(d20 - d19).dropna().sort_values()

In [ ]:
d19

In [ ]:
d20

In [ ]:
d20 = (df.groupby('GROUPS').PWSSWGT.sum() / df.PWSSWGT.sum()) * 100

In [ ]:
df.groupby(['MONTH'].PWSSWGT.sum().mean()

In [ ]:
df.groupby(['MONTH', 'GROUPS']).PWSSWGT.sum().mean(level=1)